{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}

<div data-gb-custom-block data-tag="extends" data-0='blog/base.html'></div>

<div data-gb-custom-block data-tag="block"></div>

    

<div data-gb-custom-block data-tag="if"></div>

    <div class="date">
        {{ post.published_date }}
    </div>

<div data-gb-custom-block data-tag="else"></div>

    <a class="btn btn-default" href="

<div data-gb-custom-block data-tag="url" data-0='post_publish'>

">Publish</a>

</div>